.page-link{
    color:#f2f2f2;
    font-size:14px;
    font-weight: 200;


}

.page-link_2{
     color:#f96d00 ;
     font-size:14px;
    font-weight: 200;

}


.page-link:hover {

     background-color: #f96d00 !important;
     color:#f2f2f2;
    font-size:12px;
    font-weight: 200;
}

.page-link:active {
    background-color: #f96d00 !important ;
    color:#f2f2f2;
    font-size:12px;
    font-weight: 200;

}

.btn-primary {
    color: #fff;
    background-color: #f96d00 !important;
    border-color:  #393e46 !important;
}

.btn-secondary {
    color: #fff;
    background-color: #222831 !important;
    border-color:  #222831 !important;
}

.btn-secondary:hover {

 border-color:  #f96d00 !important;
}

.btn-secondary:active,.btn-secondary:focus {

    background-color: #f96d00 !important ;
    color: #fff !important ;
    border-color:  #f96d00 !important;
}

.button-link{

    color:#f2f2f2;
    font-size:12px;
    font-weight: 200;
    width: 100%;
    height:auto;

}
.button-link_1{

    color:#f2f2f2;
    background:rgb(57, 62, 70) !important;
    font-size:10px;
    font-weight: 200;
    width: 85px;
    height:auto;

}



.Select-control{
     background-color:#f96d00 !important ;
     border: transparent;
}

.Select-placeholder{
    color:#f2f2f2;
}

.Select-value-label{
    color:#f2f2f2 !important;
}

.Select-clear-zone{
 color:#f2f2f2 !important;
}

.Select-arrow{
    border-color:#fff transparent transparent
}

.btn-primary:hover{
background-color: #f96d00 !important ;
 border-color:  #f96d00 !important;
}

.btn-primary:active{
background-color: #f96d00 !important ;
border-color:  #f96d00 !important;

}

.nav_algo{

    padding-top: 15px ;


}



.form-check-input:checked{
            background-color: #f96d00 !important;
}



.SIDEBAR_STYLE {
    position:sticky;
    background-color: #222831 !important;
    padding: 1rem 1rem;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    color: #ffff;
    fontFamily: "Times New Roman, Times, serif";
}




.mediatit{
    background-color: #222831 !important;
    border-radius: 0 0 5px 5px;
    border: 0;
    margin:0;
    padding:0;
    width:100%;
    top: 0;
    left: 0;
    bottom: 0;

}

.pad_tit{
    padding:8px;
    margin-left:17px;
    text-align: center;

}



@media  (min-width: 576px){
 /* For mobile phones: */
.col-sm-2{

flex: 0 0 100% !important;
}
.button-link{

    color:#f2f2f2;
    font-size:18px;
    font-weight: 200;
    width: 100%;
    height:auto;

}

#navbut{
display:flex;
flex-direction:row;
justify-content:space-around;
flex-wrap:wrap;


}
.drop-dash{
    display: inline-block;
    color:#393e46;
    font-size:18px;
    font-weight: 200;
    width: 100%;
    height:auto;
    background-color:#f96d00 !important ;

}

.col-sm-6{
flex: 0 0 100% !important;
}


#algo_list{
display:flex;
flex-direction:column;
justify-content:space-around;
width:100%;
padding:0;
font-size:24px;
align-items:center;
flex-wrap:wrap;

}

.graphstyle{
    width:auto;
    height:100%;

}
.col-sm-10{

flex: 0 0 100% !important;
}

.nav_algo{

    padding-top:0 ;


}

.text_area_1{
  width: 100%;
  height:300px;
  background: #222831;
  color: #fff;
  font-size: 12px;

}


}
@media  (min-width: 1024px){
.col-sm-2{
flex: 0 0 13% !important;
}
#navbut{
display:flex;
flex-direction:column;
justify-content:space-around;
flex-wrap:nowrap;
}
.button-link{

    color:#f2f2f2;
    font-size:12px;
    font-weight: 200;
    width: 100%;
    height:auto;

}
.col-sm-6{
flex: 0 0 50% !important;
}
.drop-dash{
    display: inline-block;
    color:#393e46;
    font-size:12px;
    font-weight: 200;
    width: 100%;
    height:auto;
    background-color:#f96d00 !important ;

}


.graphstyle{
    width:auto;
    height:63vh;

}
#algo_list{
display:flex;
flex-direction:column;
flex-wrap:nowrap;
width:100%;
font-size:13px;
justify-content: space-around;
align-items: flex-start;


}


.col-sm-10{

flex: 0 0 81% !important;
}

.text_area_1{
  width: 100%;
  height:500px;
  background: #222831;
  color: #fff;
  font-size: 14px;
  resize:none;
}
.nav_algo{

    padding-top: 15px ;


}
}












